[submodule "src/code.cloudfoundry.org/cf-tcp-router"]
	path = src/code.cloudfoundry.org/cf-tcp-router
	url = https://github.com/cloudfoundry/cf-tcp-router
	branch = main
[submodule "src/code.cloudfoundry.org/routing-api"]
	path = src/code.cloudfoundry.org/routing-api
	url = https://github.com/cloudfoundry/routing-api
	branch = with-go-mod
[submodule "src/code.cloudfoundry.org/trace-logger"]
	path = src/code.cloudfoundry.org/trace-logger
	url = https://github.com/cloudfoundry-incubator/trace-logger
[submodule "src/code.cloudfoundry.org/routing-info"]
	path = src/code.cloudfoundry.org/routing-info
	url = http://github.com/cloudfoundry-incubator/routing-info
[submodule "src/code.cloudfoundry.org/routing-api-cli"]
	path = src/code.cloudfoundry.org/routing-api-cli
	url = https://github.com/cloudfoundry-incubator/routing-api-cli
	branch = with-go-mod
[submodule "src/code.cloudfoundry.org/cf-routing-test-helpers"]
	path = src/code.cloudfoundry.org/cf-routing-test-helpers
	url = https://github.com/cloudfoundry/cf-routing-test-helpers
[submodule "src/code.cloudfoundry.org/gorouter"]
	path = src/code.cloudfoundry.org/gorouter
	url = https://github.com/cloudfoundry/gorouter
	branch = with-go-mod
[submodule "src/code.cloudfoundry.org/routing-acceptance-tests"]
	path = src/code.cloudfoundry.org/routing-acceptance-tests
	url = https://github.com/cloudfoundry/routing-acceptance-tests
	branch = with-go-mod
[submodule "src/code.cloudfoundry.org/route-registrar"]
	path = src/code.cloudfoundry.org/route-registrar
	url = https://github.com/cloudfoundry/route-registrar
	branch = with-go-mod
[submodule "src/code.cloudfoundry.org/multierror"]
	path = src/code.cloudfoundry.org/multierror
	url = https://github.com/cloudfoundry/multierror
[submodule "src/code.cloudfoundry.org/runtimeschema"]
	path = src/code.cloudfoundry.org/runtimeschema
	url = https://github.com/cloudfoundry/runtimeschema
