---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: cloudfoundry/cf-routing-pipeline

inputs:
  - name: deployments-routing
  - name: routing-release-ci

run:
  path: routing-release-ci/ci/tasks/create-zd-app/task

params:
  CF_APP_DOMAIN:
  CF_APP_NAME:
  CF_ORG:
  CF_SPACE:
  ENVIRONMENT:
  TCP: # set to 'true' if TCP route is desired
